manifest {
    mainScript = 'main.nf'
}

includeConfig "$baseDir/params.config"
 

process {
    queue = 'biocore-el7,long-sl7,short-sl7'
    cache = 'lenient'
    memory='4G'
    cpus='1'
    time='6h'
    scratch = false

    withLabel: big_cpus {
        cpus = 3
        memory = '5G'
    }
 
    withLabel: incr_time_cpus {
       errorStrategy = 'retry'
       memory = '5G'
       cpus = 3
       time = {6.h * task.attempt * task.attempt} 
       maxRetries = 1
    }
    withLabel: big_mem {
        cpus = 1
        memory = '5G'
    }
 
}

process.container = 'biocorecrg/exon_intron_pipe:0.2'
//singularity.enabled = true
singularity.cacheDir = "$baseDir/singularity"

