params {
    cluster      = "$baseDir/test2/test_set_Hs2_Mm2_Bta/GCL_test_Hs2_Mm2_Bta.tab"
    genomes      = "$baseDir/test2/test_set_Hs2_Mm2_Bta/GENOMES/*_gDNA.fasta.gz"
    annotations  = "$baseDir/test2/test_set_Hs2_Mm2_Bta/GTF/*_test.gtf.gz"
    clusternum   = 1000
    extraexons   = "$baseDir/test2/test_set_Hs2_Mm2_Bta/EXTRA_EXONS/*_extra_exons.tab"
    liftover     = "$baseDir/test2/test_set_Hs2_Mm2_Bta/Liftover_pairs_Hsa_Mmu_Bta.txt"
    orthofolder  = "$baseDir/test2/test_set_Hs2_Mm2_Bta/ORTHS_PAIRS/"
    vastdb       = "$baseDir/test2/test_set_Hs2_Mm2_Bta/VAST_DB"
    intcons      = 2
    idexons      = 0.2
    maxsize      = 0.65
    output       = "$baseDir/output"
    email        = "yourmail@yourdomain"
}

