manifest {
    mainScript = 'exint_plotter.nf'
}

includeConfig "$baseDir/params.config"
 

process {
    queue = 'biocore-el7,long-sl7,short-sl7'
    cache = 'lenient'
    memory='4G'
    cpus='1'
    time='10m'
    scratch = false

    withLabel: big_mem {
        cpus = 1
        memory = '6G'
	time='10m'
    }
}

process.container = 'biocorecrg/exon_intron_pipe:0.2'
//singularity.enabled = true
singularity.cacheDir = "$baseDir/singularity"
