manifest {
    mainScript = 'exint_plotter.nf'
}

includeConfig "$baseDir/params.config"


process {
    queue = 'biocore-el7,long-sl7,short-sl7'
    cache = 'lenient'
    memory='4G'
    cpus='1'
    time='10m'
    scratch = false

    withLabel: big_mem {
      cpus = 1
      memory = '6G'
	    time='10m'
    }
    withLabel: pandas {
     container = 'quay.io/biocontainers/pandas:1.5.2'
    }
    withLabel: rscript {
     container = 'biocorecrg/exorthist_rscript:2.0.0'
    }

}

process.container = 'perl:5.24-threaded-buster'
//singularity.enabled = true
singularity.cacheDir = "$baseDir/singularity"
