params {
    cluster      = "$baseDir/test/Ame_Cdi_Dme.tab.gz"
    genomes      = "$baseDir/test/GENOMES/*_gDNA.fasta.gz"
    annotations  = "$baseDir/data/GTF/*_annot.gtf"
    overlap      = "$baseDir/data/overlap_info/*_annot_fake_prot_exons_overlap_ALL.txt"
    refprot      = "$baseDir/data/exint_info/*_ref_proteins.txt" 
    exonclusters = "$baseDir/data/clusters/exon_clusters"
    geneclusters = "$baseDir/data/clusters/gene_clusters"
    bestscores   = "$baseDir/data/clusters/Best_score_hits_exons.txt"
    clusternum   = 1000
    extraexons   = ""
    liftover     = ""
    orthofolder  = ""
    vastdb       = ""
    intcons      = 2
    idexons      = 0.2
    maxsize      = 0.65
    output       = "$baseDir/output_exint"
    email        = "yourmail@yourdomain"
}
