
/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


// Impose sensible resource limits for testing
// process {
//    withName: '.*' {
//        cpus   = 2
//        memory = 3.GB
//        time   = 2.h
//    }
// }

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=24.10.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
